@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body */
.all_content {
  background: #ECF1F6;
}

ul,
li {
  list-style: none;
}

/* サイドバー */
.sidebar {
  width: 150px;
  height: 100vh;
  background-color: #03AAD2;
  font-weight: bold;
}

.main-container {
  width: 100%;
}

.sidebar p a {
  color: #FFF;
}

/* トップページ */
.user_status {
  border-radius: 10px;
  background: #FFF;
}

/* スクール予約関連 */
.day-blank {
  background: #D3D3D3;
}

.day-sat {
  color: #0000FF;
}

.day-sun {
  color: #FF0000;
}

.past-day {
  background: #EEE;
}

.calendar-td {
  min-width: 100px;
}

.day_part {
  color: #494949;
  font-size: 12px;
}

.adjust-table {
  width: 70% !important;
}

.adjust-table td {
  padding: 0 !important;
}

.adjust-area p {
  justify-content: space-around;
}

.adjust-table-btn {
  width: 70%;
}

/* モーダル */
.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__content {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

.modal.open {
  display: flex;
}

/* 掲示板 */
.sub_categories {
  display: none;
}

.post_create_area {
  background: #FFF;
  border-radius: 10px;
}

.post_create_area textarea {
  resize: none;
  height: 300px;
  white-space: pre-wrap;
}

.detail_container {
  background: #FFF;
}

.post_area {
  background: #FFF;
  border-radius: 10px;
}

.post_bottom_area {
  justify-content: space-between;
}

.like_btn,
.un_like_btn {
  cursor: pointer;
}

.un_like,
.un_like_btn {
  color: #E2254D;
}

.error_message {
  font-size: 12px;
  color: red;
}

.edit_modal {
  position: fixed;
  bottom: 200px;
  left: 200px;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal_content {
  background: #fff;
  width: 50%;
  margin: 100px auto;
  border-radius: 8px;
  position: relative;
}

.textarea.modal_post.open {
  position: absolute;
  bottom: 200px;
  left: 200px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* 掲示板 詳細画面 */
.contributor {
  font-size: 12px;
  color: #999;
  font-weight: bold;
}

.detsail_post_title {
  font-size: 14px;
}

.detsail_post {
  font-size: 12px;
  color: #9E9E9E;
}

.detail_inner_head {
  display: flex;
  justify-content: space-between;
}

.edit-modal-open {
  cursor: pointer;
}

.modal-inner-body textarea {
  height: 150px;
  resize: none;
}

.edit-modal-btn {
  justify-content: space-between;
}

/* 掲示板 コメント */
.comment_container {
  background: #FFF;
}

.comment_area p,
.comment_area input {
  font-size: 12px;
  font-weight: bold;
}

.comment_area textarea {
  height: 300px;
  resize: none;
}

.comment_container span {
  font-size: 12px;
}

.post_status span {
  font-size: 12px;
}

/* 掲示板　カテゴリー */
.category_area {
  background: #FFF;
  border-radius: 10px;
}

.category_box {
  border-radius: 5px;
  padding: 3px;
  background: #999;
  font-size: 10px;
  color: #FFF;
}

.category_btn {
  font-size: 12px;
  border-radius: 5px;
  padding: 0 5px;
  border: none;
  background: #999;
  color: #FFF;
}

.main_categories span,
.sub_categories li input {
  list-style: none;
  cursor: pointer;
}

/* ユーザー検索 */
.reserve_users_area {
  display: flex;
  flex-wrap: wrap;
  width: 950px;
  margin: 10px auto;
  height: 80vh;
  overflow: scroll;
  padding: 10px;
  border-radius: 5px;
  overflow: visible;
  border: none;
}

.reserve_users_area span {
  font-size: 12px;
}

.one_person {
  width: 225px;
  height: 225px;
  flex: 0 0 calc(25% - 20px);
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  margin: 10px;
  margin-bottom: 10px;
  overflow: visible;
  padding: 20px;
}


.search_conditions span {
  cursor: pointer;
}

.search_conditions_inner {
  display: none;
  background: #FFF;
}

.subject_edit_btn {
  font-size: 12px;
  color: #0000FF;
  cursor: pointer;
}

.subject_inner {
  display: none;
}

.user-search {
  text-align: center;
}

.user-search input[type="submit"] {
  display: inline-block;
  background-color: #5bc0de;
  color: white;
  border: none;
  padding: 4px 70px;
  border-radius: 5px;

}

.re {
  text-align: center;
}

.reset {
  background: none;
  border: none;
  color: #5bc0de;
  margin-top: 10px;

}

.search_area label,
.search_area lavel {
  display: block;
  margin-bottom: 5px;
  font-weight: normal;
  color: #494949;
}

.search_area input[type="text"],
.search_area select {
  background-color: #DDDDDD;
  border: none;
  padding: 4px 20px;
  border-radius: 5px;

}

.search_area {
  border: none;
  margin-top: 50px;
}

.search_conditions::after {
  border-right: solid 2px #555;
  border-top: solid 2px #555;
  content: "";
  display: inline-block;
  margin-left: 5px;
  height: 10px;
  transform: rotate(135deg);
  transition: transform .3s ease-in-out, top .2s ease-in-out;
  width: 10px;
}

.search_conditions.open::after {
  transform: rotate(-45deg);
}

.search_conditions_inner {
  background: transparent;
  border-top: 2px solid #CCCCCC;
}

/* 新規登録 */
.message {
  height: 5px;
}

/* 予約詳細 */

.user-list-detail tbody tr:nth-child(odd) {
  background-color: #CCFFFF;
}

.user-list-detail tbody tr:nth-child(even) {
  background-color: #fff;

}

.user-list-detail th,
.user-list-detail td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  margin: 20px auto;
  padding: 6px 8px;


}

.user-list-detail th {
  background-color: #03AAD2;
  color: #fff;
  font-weight: bold;


}

.user-list-detail {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  margin: 20px auto;
  background-color: #ccc;
}

.user-list-detail-wrapper {
  border-radius: 10px;
  overflow: hidden;
}


.subject_edit_btn::after {
  border-right: solid 2px #5bc0de;
  border-top: solid 2px #5bc0de;
  content: "";
  display: inline-block;
  margin-left: 5px;
  height: 10px;
  transform: rotate(135deg);
  transition: transform .3s ease-in-out, top .2s ease-in-out;
  width: 10px;
}

.subject_edit_btn.open::after {
  transform: rotate(-45deg);
}

.subject_item {
  display: flex;
  align-items: center;
}

.subject_list_box {
  display: flex;
  gap: 10px;
}

.subject_edit_btn {
  color: #5bc0de;
}
